<!DOCTYPE html>
    <html>
        <head>
            <title>Hi</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <div id="container" class="div" >
                <div id="header" class="div">
                    <h1>FireSafe</h1>
                </div>
                <div id="first-div" class="div">
                    <div class = div-1>
                        <h1>Fight fire 
                            <br>
                            with fire</h1>
                        <p>Predict fires</p>
                        <p>Save lives</p>
                    </div>
                    <div class = "div-2">
                        <a href="home">
                            <button>
                                <h2>Sign up now</h2>
                            </button>
                        </a>
                    </div>
                </div>
                <div id="second-div" class="div">
                    <div>
                        <h1>How it works</h1>
                        <p>Using cellular automata, we generate a forest using several parameters then simulate a fire in that forest.
                        </p>
                        <br>
                        <p>The way the fire reacts is based off the paramaters, if trees are a certain height or if weather is acting
                            differently, the fire will act differently as well.
                        </p>
                        <br>
                        <p>We hope to accurately predict the fire spread in different areas of the world, accounting for the different
                            landscapes using the parameters of our algorithm.
                        </p>
                        <br>
                        <p>With forest fires being fought off easier, we will also save local wildlife and decreases the effect of greenhouse
                            gases being released from the fires.
                        </p>
                        <p>The algorithm will also predict where forest fires are more likely to occur based on certain conditions, such
                             as previous forest fires in the area.
                        </p>
                    </div>
                    <div>
                        <img src ="{{ url_for('static', filename='resources/fireedit.gif') }}">
                    </div>
                </div>
            </div>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
        </body>
    </html> 