<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "style.css">
    <title>Document</title>
</head>
<body style = "overflow: hidden;">
    <div id="container" >
        <div id = "header-2">
            <h1>FireSafe</h1>
        </div>
        <div id = "main-content">
            <div id = "left-col">
                <p>Home</p>
                <p>Simulation</p>
                <p>Settings</p>
                <p>Account</p>
                <p>Help</p>
            </div>
            <div id = "right-col">
                <div id = "variables" style = "text-align: center;">
                    <table>
                        <tr>
                            <td>
                                <label>Wind Direction: </label>
                            </td>
                            <td>
                                <input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Humidity: </label>
                            </td>
                            <td>
                                <input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Tall Tree Density: </label>
                            </td>
                            <td>
                                <input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Tall Tree Modifier: </label>
                            </td>
                            <td>
                                <input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Elevation Modifier: </label>
                            </td>
                            <td>
                                <input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Forest Density: </label>
                            </td>
                            <td>
                                <input>
                            </td>
                        </tr>
                    </table>
                    <button >Start Sim</button>
                </div>
                <div id = "sim">
                    <img src = "resources/fireBg.gif">
                </div>
            </div>
        </div>
    </div>
</body>
</html>